# Build
bin/
obj/
[Bb]uild/
[Ll]og/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uildOutput/

# VS & Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider caches
/.idea/
/*.sln.iml

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
*.nuget.dgspec.json

# Generated AssemblyInfo
**/obj/**/AssemblyInfo*.cs
**/obj/**/AssemblyInfoInputs.cache

# Cache files
*.cache
*.bak

# Others
*.dbmdl
*.log
